@import "tailwindcss";
@import "flag-icons/css/flag-icons.min.css";

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slide-in-left {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

@theme {
  --color-primary-black: #1a1a1a;
  --color-accent-yellow: #FFD700;
  --color-text-light: #f0f0f0;
  --color-text-dark: #333333;
  --font-family-mono: var(--font-roboto-mono);
}

body {
  font-family: var(--font-family-mono);
}

.font-russo {
  font-family: var(--font-russo-one);
}